Repository FLearningg/Flearning_FE, pull requests merged in 2025-06, with the labels that each got.

#11 [UI][Feat][fix] Add admin earning, update dynamic title header and fix responsive sidebar
  FrontEnd/src/assets/AdminEarning/AdminEarning.css
  FrontEnd/src/components/AdminEarning/AdminEarning.jsx
  FrontEnd/src/components/AdminHeaderAndSidebar/FinalHeaderAndSidebar.jsx
  FrontEnd/src/components/AdminHeaderAndSidebar/HeaderMsg.jsx
Labels: Admin

#9 [FLN-29][FLN-30][Duc][Feat][UI] Add WatchCourse + Review #01.06.2025
  FrontEnd/src/assets/WatchCourse/CourseContents.css
  FrontEnd/src/assets/WatchCourse/CourseHeader.css
  FrontEnd/src/assets/WatchCourse/CourseInfo.css
  FrontEnd/src/assets/WatchCourse/CourseTabs.css
  FrontEnd/src/assets/WatchCourse/ReviewModal.css
  FrontEnd/src/assets/WatchCourse/VideoPlayer.css
  FrontEnd/src/assets/WatchCourse/WatchCourse.css
  FrontEnd/src/components/WatchCourse/CourseContents.jsx
  FrontEnd/src/components/WatchCourse/CourseHeader.jsx
  FrontEnd/src/components/WatchCourse/CourseInfo.jsx
  FrontEnd/src/components/WatchCourse/ReviewModal.jsx
  FrontEnd/src/components/WatchCourse/VideoPlayer.jsx
  FrontEnd/src/components/WatchCourse/WatchCourse.jsx
Labels: enhancement

#18 [FLN-49][UI][Fix] Fix add wrong components in HomePage.
  FrontEnd/src/components/HomePage/BestSellingCourse.jsx
  FrontEnd/src/components/HomePage/RecentlyAddedCourse.jsx
Labels: bug

#19 [Fix][UI][FLN-50_Fix-Header] Fix missing dropdown seach results.
  FrontEnd/src/components/common/search/DropdownList/DropdownList.js
  FrontEnd/src/components/common/search/DropdownList/DropdownList.module.css
  FrontEnd/src/components/header/Header.jsx
  FrontEnd/src/components/header/MobileHeader.jsx
  FrontEnd/src/components/header/SearchBar.jsx
Labels: bug

#21 [FLN-52][Dat][UI][Enhancement] No Results Found Search Box UI Enhancement
  FrontEnd/src/components/common/search/SearchBox/SearchBox.js
  FrontEnd/src/components/common/search/SearchBox/SearchBox.module.css
Labels: enhancement, HomePage

#23 [HOTFIX][Bug][UI] Update Route & Remove Redundant Code
  FrontEnd/src/assets/CourseList/CourseList.css
  FrontEnd/src/assets/header/header.css
  FrontEnd/src/assets/homepage/Adverisement.css
  FrontEnd/src/components/StudentMessage/StudentMessage.jsx
  FrontEnd/src/components/common/Card/Card.css
  FrontEnd/src/routes/mainRoutes.jsx
Labels: bug

#27 [FLN-34][UI][Feat] Add Profile Setting & Improve Card UI
  FrontEnd/src/assets/CourseList/ProfileSection.css
  FrontEnd/src/assets/ProfileSetting/ProfileSetting.css
  FrontEnd/src/assets/PurchaseHistory/PurchaseHistory.css
  FrontEnd/src/assets/StudentDashboard/StudentDashboard.css
  FrontEnd/src/components/CourseList/CourseList.jsx
  FrontEnd/src/components/CourseList/ProfileSection.jsx
  FrontEnd/src/components/HomePage/RecentlyAddedCourse.jsx
  FrontEnd/src/components/ProfileSetting/ProfileSetting.jsx
  FrontEnd/src/components/PurchaseHistory/PurchaseHistory.jsx
  FrontEnd/src/components/StudentDashboard/StudentDashboard.jsx
  FrontEnd/src/components/StudentMessage/StudentMessage.jsx
  FrontEnd/src/components/common/Card/Card.css
  FrontEnd/src/components/common/Card/Card.js
  FrontEnd/src/routes/mainRoutes.jsx
Labels: enhancement

#26 [Dat][UI] Add Charts in AdminEarning UI
  FrontEnd/src/components/AdminEarning/AdminEarning.jsx
  FrontEnd/src/routes/adminRoutes.jsx
Labels: Admin

#28 [FLN-20][UI][Feat] Add StudentWishlist
  FrontEnd/src/assets/StudentWishList/StudentWishList.css
  FrontEnd/src/components/StudentWishList/WishListPage.jsx
  FrontEnd/src/components/StudentWishList/WishListPagination.jsx
  FrontEnd/src/components/header/WishList.jsx
  FrontEnd/src/routes/mainRoutes.jsx
Labels: Wishlist

#30 [FLN-20][UI][Fix] Update css add two className [wishlist-container, wishlist-content]
  FrontEnd/src/assets/StudentWishList/StudentWishList.css
  FrontEnd/src/components/StudentWishList/WishListPage.jsx
Labels: Wishlist

#31 [FLN-32][UI] Add Admin Discount
  FrontEnd/src/assets/AdminDiscount/AdminDiscount.css
  FrontEnd/src/components/AdminDiscount/AdminDiscount.jsx
  FrontEnd/src/components/AdminHeaderAndSidebar/Sidebar.jsx
  FrontEnd/src/routes/adminRoutes.jsx
  FrontEnd/src/routes/mainRoutes.jsx
  FrontEnd/src/routes/profileRoutes.jsx
Labels: Admin

#33 [FLN-44][UI][Feat][Fix] Add Course Publish, fix title
  FrontEnd/src/assets/CRUDCourseAndLesson/CourseForm.css
  FrontEnd/src/assets/CRUDCourseAndLesson/CoursePublish.css
  FrontEnd/src/components/AdminHeaderAndSidebar/FinalHeaderAndSidebar.jsx
  FrontEnd/src/components/CRUDCourseAndLesson/CourseCurriculum.jsx
  FrontEnd/src/components/CRUDCourseAndLesson/CourseFormAdvance.jsx
  FrontEnd/src/components/CRUDCourseAndLesson/CoursePublish.jsx
  FrontEnd/src/routes/adminRoutes.jsx
Labels: Admin

#34 [FLN-38][Feat][UI] Add Charts in Admin Course UI
  FrontEnd/src/assets/AdminMyCourse/AdminMyCourse.css
  FrontEnd/src/components/AdminMyCourse/AdminMyCourse.jsx
Labels: Admin

#37 [FLN-53][UI] Add Admin My Courses + Add More Card Variants
  FrontEnd/src/assets/AdminMyCourse/AdminAllCourse.css
  FrontEnd/src/components/AdminHeaderAndSidebar/FinalHeaderAndSidebar.jsx
  FrontEnd/src/components/AdminHeaderAndSidebar/Sidebar.jsx
  FrontEnd/src/components/AdminMyCourse/AdminAllCourse.jsx
  FrontEnd/src/components/AdminMyCourse/AdminMyCourse.jsx
  FrontEnd/src/components/common/Card/Card.css
  FrontEnd/src/components/common/Card/Card.js
  FrontEnd/src/routes/adminRoutes.jsx
Labels: enhancement, Admin

#38 [FLN-54][UI] Add Authentication
  FrontEnd/.env
  FrontEnd/package.json
  FrontEnd/src/App.js
  FrontEnd/src/components/ProtectedRoute/ProtectedRoute.jsx
  FrontEnd/src/components/header/Header.jsx
  FrontEnd/src/components/header/HeaderRight.jsx
  FrontEnd/src/hooks/a.js
  FrontEnd/src/hooks/useAuth.js
  FrontEnd/src/index.js
  FrontEnd/src/pages/AuthPage/LoginPage.jsx
  FrontEnd/src/pages/AuthPage/SignUpPage.jsx
  FrontEnd/src/pages/AuthPage/VerifyEmailPage.jsx
  FrontEnd/src/routes/authRoutes.jsx
  FrontEnd/src/services/api/a.js
  FrontEnd/src/services/api/authService.js
  FrontEnd/src/services/providers/a.js
  FrontEnd/src/services/providers/authProvider.jsx
Labels: authentication

#45 [FLN-76][Hoang][DOCS] Update Rule PR and Commit [18.06.2025]
  COMMITS_PULLREQUEST_RULES.md
Labels: documentation

#42 [UI][feat] Add SingleCourse page and its components
  FrontEnd/src/components/CourseDetails/CourseDescription.jsx
  FrontEnd/src/components/CourseDetails/CourseHeader.jsx
  FrontEnd/src/components/CourseDetails/CourseRating.jsx
  FrontEnd/src/components/CourseDetails/Curriculum.jsx
  FrontEnd/src/components/CourseDetails/PricingCard.jsx
  FrontEnd/src/components/CourseDetails/SingleCourse.jsx
  FrontEnd/src/components/CourseDetails/StudentFeedback.jsx
Labels: course

#44 [UI][Enhancement] Tách thành component nhận data từ array để hiển thị top category, chỉnh sửa lại css của bestSelling và Recently course
  FrontEnd/src/assets/homepage/TopCategory.css
  FrontEnd/src/components/HomePage/Advertisement.jsx
  FrontEnd/src/components/HomePage/BestSellingCourse.jsx
  FrontEnd/src/components/HomePage/RecentlyAddedCourse.jsx
  FrontEnd/src/components/HomePage/TopCategory.jsx
  FrontEnd/src/components/HomePage/TopCategoryCard.jsx
Labels: enhancement, HomePage

#47 [FLN-54][UI] Add Feature Resend Verification Email
  FrontEnd/src/components/HomePage/HomePage.jsx
  FrontEnd/src/pages/AuthPage/LoginPage.jsx
  FrontEnd/src/pages/AuthPage/RegistrationSuccessPage.jsx
  FrontEnd/src/pages/AuthPage/SignUpPage.jsx
  FrontEnd/src/pages/AuthPage/VerifyEmailPage.jsx
  FrontEnd/src/routes/authRoutes.jsx
  FrontEnd/src/services/api/authService.js
  FrontEnd/src/services/authService.js
  FrontEnd/src/store/authSlice.js
Labels: authentication

#51 [Fix] Fix bug authentication
  FrontEnd/src/pages/AuthPage/LoginPage.jsx
  FrontEnd/src/pages/AuthPage/SignUpPage.jsx
  FrontEnd/src/pages/AuthPage/VerifyEmailPage.jsx
  FrontEnd/src/services/authService.js
  FrontEnd/src/store/authSlice.js
Labels: bug, authentication

#55 [FLN-65][UI] Implement API for Profile Setting + Purchase History + Enrolled Course
  FrontEnd/src/assets/PurchaseHistory/PurchaseHistory.css
  FrontEnd/src/components/CourseList/CourseList.jsx
  FrontEnd/src/components/CourseList/ProfileSection.jsx
  FrontEnd/src/components/ProfileSetting/ProfileSetting.jsx
  FrontEnd/src/components/PurchaseHistory/PurchaseHistory.jsx
  FrontEnd/src/components/StudentDashboard/StudentDashboard.jsx
  FrontEnd/src/components/header/HeaderRight.jsx
  FrontEnd/src/services/profileService.js
Labels: Profile

#60 [feat][refactor][FLN-67][Hoang][UI] Apply API to message/chatting
  FrontEnd/package.json
  FrontEnd/src/assets/CourseList/ProfileSection.css
  FrontEnd/src/assets/StudentMsg/ChatInterface.css
  FrontEnd/src/assets/StudentMsg/StudentMsgGlobal.css
  FrontEnd/src/components/CRUDCourseAndLesson/CourseCurriculum.jsx
  FrontEnd/src/components/CRUDCourseAndLesson/CourseFormAdvance.jsx
  FrontEnd/src/components/CRUDCourseAndLesson/CourseWizard.jsx
  FrontEnd/src/components/StudentMessage/ChatInterface.jsx
  FrontEnd/src/components/StudentMessage/ComposeModal.jsx
  FrontEnd/src/components/StudentMessage/StudentMessage.jsx
  FrontEnd/src/hooks/useChat.js
  FrontEnd/src/routes/adminRoutes.jsx
  FrontEnd/src/services/chatService.js
  FrontEnd/src/services/userService.js
  FrontEnd/src/utils/socket.js
Labels: Profile, refactor

#59 [FLN-79][UI] Update Fetching Profile Image
  FrontEnd/src/assets/ProfileSetting/ProfileSetting.css
  FrontEnd/src/components/CourseList/ProfileSection.jsx
  FrontEnd/src/components/ProfileSetting/ProfileSetting.jsx
Labels: enhancement, Profile

#62 [FLN-71][UI] Implement CRUD Discount API
  FrontEnd/src/assets/AdminDiscount/AdminDiscount.css
  FrontEnd/src/components/AdminDiscount/AdminDiscount.jsx
  FrontEnd/src/services/discountService.js
Labels: Admin
