Repository FLearningg/Flearning_FE, pull requests merged in 2025-07, with the labels that each got.

#67 [FLN-35][UI] Update ErrorPage & Faqs
  FrontEnd/src/pages/MainPage/ErrorPage.jsx
  FrontEnd/src/pages/MainPage/FaqsPage.jsx
  FrontEnd/src/routes/index.jsx
Labels: HomePage

#68 [FLN-66][UI] Apply API to Cart page and Wishlist page
  FrontEnd/public/images/empty-wishlist.png
  FrontEnd/public/images/empty_cart.png
  FrontEnd/src/assets/StudentCartPage/StudentCart.css
  FrontEnd/src/components/HomePage/BestSellingCourse.jsx
  FrontEnd/src/components/HomePage/RecentlyAddedCourse.jsx
  FrontEnd/src/components/StudentCartPage/CartPage.jsx
  FrontEnd/src/components/StudentWishList/WishListPage.jsx
  FrontEnd/src/components/common/Card/Card.js
  FrontEnd/src/components/common/Loadding/LoaddingComponent.jsx
  FrontEnd/src/components/common/Loadding/loading.module.css
  FrontEnd/src/components/header/Notification.jsx
  FrontEnd/src/components/header/SearchBar.jsx
  FrontEnd/src/components/header/WishList.jsx
  FrontEnd/src/components/header/WishListCard.jsx
  FrontEnd/src/services/cartService.js
  FrontEnd/src/services/wishlistService.js
  FrontEnd/src/store/cartSlice.js
  FrontEnd/src/store/index.js
  FrontEnd/src/store/wishlistSlice.js
Labels: Wishlist, Shopping cart

#69 [Fix][FLN-87] Sửa lại css và format code, comment code thừa
  FrontEnd/src/assets/header/header.css
  FrontEnd/src/components/header/HeaderRight.jsx
  FrontEnd/src/components/header/Notification.jsx
  FrontEnd/src/components/header/WishList.jsx
Labels: bug, HomePage, Admin

#77 [feat][FLN-86][Hoang][UI] Apply API for Admin My Courses
  FrontEnd/src/assets/AdminMyCourse/AdminAllCourse.css
  FrontEnd/src/assets/AdminMyCourse/AdminMyCourse.css
  FrontEnd/src/components/AdminMyCourse/AdminAllCourse.jsx
  FrontEnd/src/components/AdminMyCourse/AdminMyCourse.jsx
  FrontEnd/src/services/authService.js
Labels: Admin, course

#82 [FLN-96][UI][Fix] Fix price in bestSelling and recentlyAddedCourse at homepage
  FrontEnd/src/components/HomePage/BestSellingCourse.jsx
  FrontEnd/src/components/HomePage/RecentlyAddedCourse.jsx
Labels: bug, HomePage

#83 [FLN-96][UI][Fix] Ẩn nút Buy now khi người dùng đã enroll (đã mua)
  FrontEnd/src/components/CourseDetails/PricingCard.jsx
Labels: bug, course

#85 [FLN-68][Thien][UI] Add Payment UI and service
  FrontEnd/package.json
  FrontEnd/src/assets/ShoppingCart/CheckoutPage.css
  FrontEnd/src/components/CourseDetails/PricingCard.jsx
  FrontEnd/src/components/CourseDetails/SingleCourse.jsx
  FrontEnd/src/components/ShoppingCart/CheckoutComponents.jsx
  FrontEnd/src/components/ShoppingCart/CheckoutPage.jsx
  FrontEnd/src/components/ShoppingCart/QRCodePayment.jsx
  FrontEnd/src/routes/mainRoutes.jsx
  FrontEnd/src/services/courseService.js
  FrontEnd/src/services/paymentService.js
Labels: payment

#89 [enhencement][FE] Update UX and UI
  FrontEnd/src/assets/StudentMsg/StudentMsgGlobal.css
  FrontEnd/src/components/StudentCartPage/CartPage.jsx
  FrontEnd/src/components/StudentMessage/ChatInterface.jsx
  FrontEnd/src/components/StudentWishList/WishListPage.jsx
Labels: enhancement, Profile, Admin

#95 [enhencement][fix] Enhencement UI and UX
  FrontEnd/src/assets/AdminDashboard/AdminDashboard.css
  FrontEnd/src/assets/AdminEarning/AdminEarning.css
  FrontEnd/src/assets/AdminManageUser/AdminManageUser.css
  FrontEnd/src/components/AdminDashboard/AdminDashboard.jsx
  FrontEnd/src/components/AdminEarning/AdminEarning.jsx
  FrontEnd/src/components/AdminManageUser/AdminManageUser.jsx
  FrontEnd/src/components/CRUDCourseAndLesson/CourseFormAdvance.jsx
  FrontEnd/src/components/header/HeaderRight.jsx
Labels: enhancement, Admin

#96 [FLN-103][UI] Update WatchCourse to fetch data
  FrontEnd/src/assets/WatchCourse/CourseContents.css
  FrontEnd/src/assets/WatchCourse/CourseHeader.css
  FrontEnd/src/assets/WatchCourse/CourseInfo.css
  FrontEnd/src/components/CourseDetails/PricingCard.jsx
  FrontEnd/src/components/CourseList/CourseCard.jsx
  FrontEnd/src/components/CourseList/CourseList.jsx
  FrontEnd/src/components/StudentDashboard/StudentDashboard.jsx
  FrontEnd/src/components/WatchCourse/CourseContents.jsx
  FrontEnd/src/components/WatchCourse/CourseHeader.jsx
  FrontEnd/src/components/WatchCourse/CourseInfo.jsx
  FrontEnd/src/components/WatchCourse/VideoPlayer.jsx
  FrontEnd/src/components/WatchCourse/WatchCourse.jsx
  FrontEnd/src/routes/mainRoutes.jsx
  FrontEnd/src/services/watchCourseService.js
Labels: enhancement

#99 [FLN][UI] Apply API to calculate average rating for course
  FrontEnd/src/components/CourseList/CourseList.jsx
  FrontEnd/src/components/StudentDashboard/StudentDashboard.jsx
  FrontEnd/src/components/WatchCourse/CourseHeader.jsx
  FrontEnd/src/components/WatchCourse/CourseInfo.jsx
  FrontEnd/src/components/WatchCourse/WatchCourse.jsx
  FrontEnd/src/services/feedbackService.js
Labels: enhancement

#100 [FLN-108][Thien][UI] Fix breadcumb and payment content
  FrontEnd/src/components/CourseDetails/CourseHeader.jsx
  FrontEnd/src/components/CourseDetails/PricingCard.jsx
  FrontEnd/src/components/CourseDetails/SingleCourse.jsx
  FrontEnd/src/components/ShoppingCart/CheckoutPage.jsx
Labels: course, payment

#104 [fix][FLN-111][Hoang][UI] Update header component
  FrontEnd/src/components/CRUDCourseAndLesson/CourseCurriculum.jsx
  FrontEnd/src/components/CRUDCourseAndLesson/CourseFormAdvance.jsx
Labels: bug, Admin, course
